* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

body {
    padding: 4em;
    background-color: rgb(238, 238, 238);
    max-width: 80vw;
    margin: 1em auto;
}

header {
    flex: 0 0 100%;
    border-bottom: 2px solid black;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

aside {
    flex: 0 0 20%;
    margin: 0 auto;
}

aside ul {
    list-style: inside;
    margin: 1em;
}

li a {
    color: green;
    text-decoration: none;
}

.image {
    padding: 0.2em;
    border: 3px solid black;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 0.5em 0.2em rgba(0, 0, 0, 0.321);
}

blockquote {
    float: right;
}

.right {
    float: right;
    margin: 0 0 2em 2em;
}

.left {
    float: left;
    margin: 0 2em 1.8em 0;
}

p {
    margin: 1em 0;
}

img {
    display: block;
    width: 100%;
}

h1, h2 {
    margin: 1em 0;
}

.quote {
    display: flex;
}

.quote blockquote {
    flex: 0 0 50%;
    color: rgba(0, 0, 0, 0.581);
    padding-left: 1em;
    margin-left: 1em;
}

h1, h2 {
    font-weight: 500;
}