html {
    font-family: sans-serif;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
}

@media (min-width: 500px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 600px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 800px) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 1300px) {
    html {
        font-size: 21px;
    }
}

@media (min-width: 1800px) {
    html {
        font-size: 23px;
    }
}

/* Copy & Lists */
p {
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

ul li,
ol li {
    line-height: 1.5rem;
}

ul ul,
ol ul,
ul ol,
ol ol {
    margin-top: 0;
    margin-bottom: 0;
}

blockquote {
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    /* Change heading typefaces here */
    font-family: sans-serif;
    margin-top: 1.5rem;
    margin-bottom: 0;
    line-height: 1.5rem;
}

h1 {
    font-size: 2.3rem;
    line-height: 2.5rem;
    margin-top: 3rem;
}

h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-top: 3rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 0.7rem;
}

h5 {
    font-size: 0.47rem;
}

h6 {
    font-size: 0.3535rem;
}

header {
    font: bold 2em/1 'Helvetica', sans-serif;
}

aside span {
    font-size: 20px;
    font-weight: 500;
}

.quote blockquote {
    font-style: italic;
    border-left: 1px solid rgba(0, 0, 0, 0.581);
}