@import url('https://use.fontawesome.com/releases/v6.5.1/css/all.css');

body {
    font: 18px/1.5 Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style: none;
}

ul i {
    font-size: 25px;
}

ul.check i {
    color: #2fcc71;
}

ul.star i {
    color: coral;
}

ul.contact i {
    color: #3498da;
}