* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    border-bottom: 2px solid black ;
    font: bold 36px/1 'Helvetica', sans-serif;
    padding-bottom: 0.6em;
    padding: 0.7em 1em;
}

main {
    margin: 3em 2.2em;
}

h2, p {
    margin: 1em 0;
    
}

footer {
    background-color: rgb(102, 102, 102);
    color: white;
    padding: 0.1em 2em;
}