* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 2em 0;
}

header {
    border-bottom: 2px solid black ;
    font: 36px/1 'Helvetica', sans-serif;
    padding-bottom: 0.6em;
    padding: 0.1em 1em;
}

main {
    margin: 1em 2em;
}

h2 {
    
}

footer {
    background-color: rgb(102, 102, 102);
    color: white;
    padding: 1em 2em;
}