.flex-container {
  display: flex;
  background-color: DodgerBlue;
  width: 225px;
  height: 150px;
  flex-wrap: wrap;
}

#box1 {
  background-color: pink;
  order: 3;
}

#box2 {
  background-color: lightgreen;
  order: 1;
}

#box3 {
  background-color: lightblue;
  order: 2;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
