@import url(typography.css);

body {
    margin: 60px;
}

ul.disk {
    list-style-type: disc;
}

ul.circle {
    list-style-type: circle;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid gray;
}

thead, tbody, tr, th, td {
    padding: 5px 7px;
    text-align: left;
    border: 1px solid gray;
}

thead {
    background-color: rgb(167, 167, 167);
}

table tbody tr:nth-child(odd) {
    background-color: rgb(223, 223, 223);
}

blockquote {
    border-left: 4px solid rgb(221,221,221) ;
    padding: 0.1em 2em;
}

blockquote footer {
    text-align: right;
}