body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1.5em;
    margin-bottom: 2em;
}

nav {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: column;
}

.top-part-logo {
    color: rgb(155, 0, 190);
    font-size: 2.1em;
    font-weight: bold;
}

.bottom-part-logo {
    letter-spacing: 0;
    font-family: "Sofia Sans Extra Condensed";
    margin-top: -0.5em;
}

.need-a-website {
    display: flex;
    align-items: center;
}

.planet {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 35%;
    font-size: 9em;
}

h2, p {
    margin-bottom: 0.5em;
}

header a, header nav ul li {
    color: black;
}

.our-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.horizontal-line {
    width: 80px;
}

.horizontal-line hr {
    border: 1px solid black;
}

.all-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    margin-top: 2em;
}

.member img, .client img {
    width: 100%;
    height: 100%;
}

.member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 4em;
}

figure {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 1em 0.05em rgba(0, 0, 0, 0.3);
}

.overlay {
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0 0.2em rgba(255, 255, 255, 0.2) inset;
    z-index: 1;
}