/* Phones < 600px */

@media (max-width: 767px) {

    header {
        align-items: center;
        min-width: 100%;
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        font-size: 2em;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 4%;
        left: 83%;
        z-index: 1001;
        display: none;
    }

    .menu {
        display: none;
        position: absolute;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
        background-color: #fff;
        color: black;
    }

    .menu li {
        text-align: center;
    }

    .menu:target {
        display: flex;
        transform: translateY(0);
    }

    .menu:target .close-menu {
        display: block;
    }

    .need-a-website,
    .our-team,
    .testimonials {
        max-width: 90%;
        margin: 0 auto;
    }


    .member {
        flex: 0 0 40%;
    }

    figure {
        width: 100px;
        height: 100px;
        overflow: hidden; 
    }

    .client {
        flex: 0 0 40%;
    }

    .all-members, .clients {
        gap: 2em;
    }
}

/* Tablets > 768px */

@media (min-width: 768px) and (max-width: 1023px) {

    header {
        align-items: center;
        min-width: 90%;
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        font-size: 2em;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 4%;
        left: 83%;
        z-index: 1001;
        display: none;
    }

    .menu {
        display: none;
        position: absolute;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
        background-color: #fff;
        color: black;
    }

    .menu li {
        text-align: center;
    }

    .menu:target {
        display: flex;
        transform: translateY(0);
    }

    .menu:target .close-menu {
        display: block;
    }

    .member {
        flex: 0 0 40%;
    }

    .need-a-website,
    .our-team,
    .testimonials {
        max-width: 90%;
        margin: 0 auto;
    }

    figure {
        width: 120px;
        height: 120px;
        overflow: hidden; 
    }

    .client {
        flex: 0 0 40%;
    }

    .all-members, .clients {
        gap: 2em;
    }
}

/* Laptops > 1024px */

@media (min-width: 1024px) and (max-width: 1199px) {

    header nav {
        display: flex;
        flex: 1 1 45%;
        justify-content: end;
    }

    header nav ul {
        display: flex;
        flex: 1 0 70%;
        justify-content: flex-end;
        gap: 4em;
    }

    header {
        min-width: 95%;
    }

    .need-a-website,
    .our-team,
    .testimonials {
        max-width: 85%;
        margin: 0 auto;
    }

    figure {
        width: 120px;
        height: 120px;
        overflow: hidden; 
    }

    .member {
        flex: 0 0 27%;
    }

    .close-menu,
    .open-menu {
        display: none;
    }

    .client {
        flex: 0 0 27%;
    }

    footer {
        flex-direction: row;
        justify-content: space-around;
    }

    footer .logo-info, footer .contacts {
        flex: 0 1 25%;
    }

    footer .sitemap {
        flex: 0 1 35%;
    }

    .all-members, .clients {
        gap: 3em;
    }
}

/* Desktops > 1200px */

@media (min-width: 1200px) {

    header {
        width: 80%;
    }

    header nav {
        display: flex;
        flex: 1 0 45%;
        justify-content: end;
    }

    header nav ul {
        display: flex;
        flex: 1 0 70%;
        justify-content: flex-end;
        gap: 5em;
    }

    .need-a-website,
    .our-team,
    .testimonials {
        max-width: 80%;
        margin: 0 auto;
    }

    figure {
        width: 120px;
        height: 120px;
        overflow: hidden; 
    }

    .member {
        flex: 0 0 27%;
    }

    .close-menu,
    .open-menu {
        display: none;
    }

    .client {
        flex: 0 0 30%;
    }
    footer {
        max-width: 80%;
        flex-direction: row;
        justify-content: space-around;
    }

    footer .logo-info {
        flex: 0 1 30%;
    }

    footer .sitemap {
        flex: 0 1 40%;
    }

    .all-members, .clients {
        gap: 3em;
    }
}